.profile__add-button {
  border: 2px solid #FFFFFF;
  padding: 12px 62px;
  border-radius: 2px;
}

@media screen and (max-width: 320px) {
  .profile__add-button {
    padding: 17px 134px;
    max-width: 16px;
    max-height: 16px;
}
}
